.top{
    width: 320px;
    height: 460px;
    border: solid 1px black;
    background-color: whitesmoke;
    flex-direction: column;
    display: flex;
    margin: auto;
    padding: 14px;
    border-radius: 20px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.8);
    }

body{
    background-color: #FEDC56;
    margin: auto;
    margin-top: 30%;
    align-items: center;
    
}

.bottom{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 12px;
}
.icon{
   border-radius: 20px;
}
button{
    width: 80px;
    height: 36px;
    align-items: center;
    padding: 2px;
    background-color:#FEDC56;
    border: 0cap;
    border-radius: 6px;
}
.profile{
   width: 32px;
   height: 32px;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    margin: 8px 0;  /* add small consistent margin */
}
